<footer class="footer">
    <div class="footer-container">
        @* Thợ săn figure - <a asp-area="" asp-controller="Home" asp-action="About">About</a> *@

        <div class="footer-col">
            <h3>Tổng đài hỗ trợ miễn phí</h3>
            <p>Mua hàng: <strong>1800.1587</strong> (7h30 - 22h00)</p>
            <p>Khiếu nại: <strong>1800.4715</strong> (8h00 - 21h30)</p>
            <h3>Phương thức thanh toán</h3>
            <div class="payment-methods">
                <p><strong>VnPay</strong></p>
                <p><strong>Momo</strong></p>
                <p><strong>Visa</strong></p>
                <p><strong>ZaloPay</strong></p>
                <!-- Thêm các hình thức khác nếu có -->
                <div>
                    <h3>Kết nối với Thợ săn - Figure</h3>
                    <div class="social-icons">
                        <p><strong>Facebook</strong></p>
                        <p><strong>Youtube</strong></p>
                        <p><strong>Zalo</strong></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-col">
            <h3>Thông tin và chính sách</h3>
            <ul>
                <li>Mua hàng và thanh toán Online</li>
                <li>Mua hàng trả góp Online</li>
                <li>Chính sách giao hàng</li>
                <li>Tra cứu bảo hành</li>
                <li>In hóa đơn điện tử</li>
                <li>Thông tin hóa đơn mua hàng</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        Thợ săn figure - <a asp-area="" asp-controller="Home" asp-action="About">Về chúng tôi</a>
    </div>
</footer>